html {
	font-size: 62.5%;
}
html,body {
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
a {
	text-decoration: none;
}
* {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
ul,li,dd,dt,dl {
	margin:0;
	padding: 0;
	list-style-type: none;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
  clear: both;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}


.flex {
	display: flex;
}
.flex > .flex-cell {
	flex: 1;
}

body {
	padding-top: 9.6rem;
}
html,body {
	-webkit-overflow-scrolling : touch;
}
.header > .top,
.header > .nav,
.section {
	max-width: 76rem;
	margin: 0 auto;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.header > .top {
	height: 4.6rem;
	line-height: 4.6rem;
	background-color: #6f35a5;
	color: #fff;
}
#site-home,
#search-btn {
	padding: 0 1rem;
	font-size: 2.4rem;
}
#site-name {
	font-size: 1.6rem;
	text-align: center;
}
#search-btn > a,
#site-home > a {
	color: #fff;
	text-decoration: none;
}
.header > .nav {
	z-index: 0;
	position: relative;
	background-color: #fff;
	box-shadow: 0 .1rem .5rem #dedede;
}

.header > .nav > ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.header > .nav > ul > li {
	flex: 1;
	height: 4rem;
	line-height: 4rem;
	font-size: 1.4rem;
	text-align: center;
	color: #333;
	position: relative;
}
.header > .nav > ul > li:after {
	content: " ";
	display: block;
	position: absolute;
	right: 0;
	height: 1.4rem;
	top: 1.3rem;
	width: 0.1rem;
	background-color: #e0e0e0;
}
.header > .nav > ul > li:last-child:after {
	display: none;
}

.header > .nav > ul > li > a {
	color: #333;
	text-decoration: none;
}



.section {
	background-color: #fff;
	margin-bottom: 1rem;
}
.section > .title,
.section > h3 {
	padding: 1rem 1rem 0;
	color: #999;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 2rem;
	margin: 0;
}


.textlist {
}
.textlist > .item {
	display: flex;
	padding: 1rem;
	border-bottom: 0.1rem solid #f4f4f4;
	text-decoration: none;
}
.textlist > .item > .pic {
	width: 10rem;
	margin-right: 1rem;
}
.textlist > .item > .pic img {
	display: block;
	width: 100%;
	height: 6rem;
}
.textlist > .item > .info {
	flex: 1;
	color: #333;
	font-size: 1.4rem;
	line-height: 2rem;
}
.textlist > .item > .info > h5 {
	margin: 0;
	font-weight: 400;
	font-size: 1.4rem;
	min-height: 4rem;
}
.textlist > .item > .info > .attrs {
	font-size: 1.0rem;
	color: #999;
	line-height: 1.6rem;
	margin-top: 0.4rem;
}
.textlist > .item > .info > .attrs > i.iconfont {
	font-size: 1.4rem;
}

.textlist > .item > .info a {
	color: #333;
}


.text-title {
	padding: 1rem;
	line-height: 3rem;
	margin: 0;
	font-size: 2.0rem;
	font-weight: 400;
}
.text-attrs {
	text-align: left;
	color: #888;
	font-size: 1.2rem;
	line-height: 1.6rem;
	margin-bottom: 1rem;
	padding: 0 1rem;
}
.text-content {
	padding: 1rem;
	font-size: 1.6rem;
	line-height: 2.6rem;
	color: #555;
}
.text-pictures {
	padding: 1rem;
}
.text-pictures img {
	max-width: 100%;
}
.text-content > p {
	margin: 0 0 2rem;
}

.text-content > h2 {
	font-size: 2.2rem;
}

.text-content > h3 {
	font-size: 2rem;
}

.text-content > h4 {
	font-size: 1.8rem;
}

.text-content > h5 {
	font-size: 1.6rem;
}

.text-content img {
	max-width: 100%;
}

.text-links a,
.text-attrs a {
	color: #333;
}
.text-links {
	line-height: 1.6rem;
	padding: 1rem;
	font-size: 1.3rem;
	color: #999;
}

.text-links > ul > li {
	padding: .5rem 0;
}



.videolist {

}

.videolist > .item {
	display: block;
	padding: 1rem;
	border-bottom: 0.1rem solid #f4f4f4;
	text-decoration: none;
}
.videolist > .item > .pic {
	position: relative;
}
.videolist > .item > .pic > img {
	width: 100%;
	display: block;
	margin: 0;
}
.videolist > .item > .pic > i {
	display: block;
	position: absolute;
	font-size: 8rem;
	height: 8rem;
	width: 8rem;
	top: 50%;
	left: 50%;
	margin-top: -4rem;
	margin-left: -4rem;
	color: rgba(255,255,255,.6);
	z-index: 10;
}
.videolist > .item > .info {
	padding-top: 1rem;
	color: #333;
	font-size: 1.4rem;
	line-height: 2rem;
}
.videolist > .item > .info > h5 {
	font-size: 1.4rem;
	color: #333;
	font-weight: 400;
	margin: 0;
}
.videolist > .item > .info > .attrs {
	font-size: 1.0rem;
	color: #999;
	line-height: 1.6rem;
	margin-top: 0.4rem;
}
.videolist > .item > .info > .attrs > i.iconfont {
	font-size: 1.4rem;
}




/* list */

.list-item {
	display: block;
	padding: 1rem;
	border-bottom: 0.1rem solid #f4f4f4;
	text-decoration: none;
	position: relative;
}

.list-item > .item-info > h5 {
	font-size: 1.4rem;
	color: #333;
	font-weight: 400;
	margin: 0;
}

.list-item > .item-info > .item-attrs {
	font-size: 1.0rem;
	color: #999;
	line-height: 1.6rem;
	margin-top: 0.4rem;
}

.footer {
	text-align: center;
	color: #999;
	padding: 1rem 0;
	line-height: 1.6rem;
}

.footer a {
	color: #777;
}


/* 翻页 */
.page-list > a,
.page-list > span {
	text-align: center;
	line-height: 4rem;
	font-size: 1.4rem;
	color: #aaa;
}
.page-list > a {
	color: #333;
}
.page-list > .next {
	border-left: .1rem solid #f4f4f4;
}


/*  */
#player-box {
	width: 100%;
	background-color: #dedede;
	margin-bottom: 2rem;
}

#player-box > .tip {
	width: 100%;
	position: relative;
	height: 0;
	padding: 28% 0;
	overflow: hidden;
}

#player-box > video,
#player-box > iframe {
	display: block;
	background-color: #000;
	width: 100%;
	height: 100%;
	position: relative;
}


/* search */

#search-box {
	padding: 1rem;
}
#btn {
	display: block;
	border-width: 0;
	color: #fff;
	background-color: #8192d6;
	font-size: 1.4rem;
	padding: 0 2rem;
}
#wd {
	display: block;
	width: 100%;
	border: .1rem solid #8192d6;
	border-right-width: 0;
	padding: 1rem;
	line-height: 2rem;
	color: #333;
	font-size: 1.6rem;
}

.search-tabs > a {
	height: 4rem;
	line-height: 4rem;
	text-align: center;
	font-size: 1.4rem;
	color: #999;
	border-bottom: 0.1rem solid #f4f4f4;
}
.search-tabs > a.current {
	color: red;
}